
	.btnStyle
	{
	   display:inline;
	   white-space:nowrap;
	   border: 1px gray solid;
	   border-radius:10px;
	   padding: 4px 6px 4px 6px;
	   margin: 2px 2px 2px 2px;
	   font: 9pt arial, sans-serif;
	   color:black;
	}
	.mapclass
	{
	   width:100%;
	   max-width:100%;
	   overflow:hidden;
	   height:80%;
	   min-height:80%;
	   max-height:80%; 
	   color:red;
	}
	#myfooter{
	   position:fixed;
	   height:80px;
	   background-color:teal;
	   bottom:0px;
	   left:0px;
	   right:0px;
	   margin-bottom:0px;
	   opacity: 0.88;
	   filter: alpha(opacity=88); /* For IE8 and earlier */
	   }
	#myheader{
		color:white;
		position:fixed;
		height:30px;
		z-index: 30000;
	   background-color:teal;
	   top:0px;
	   left:0px;
	   right:0px;
	   margin-top:0px;
	   padding-right:16px;	 
	   padding-left:16px;
	   padding-top:8px;    
	   }
	#mainwrapper header {
	   /*Header */
	   overflow: auto;
	   font-family: montserrat, sans-serif;
	   font-style: normal;
	   font-weight: 400;
	}
	#mainwrapper header #logo {
	   /* Company Logo text */
	   width: 28%;
	   float: left;
	   padding-left: 2%;
	   padding-top: 12px;
	   padding-bottom: 12px;
	}
	#mainwrapper header nav {
	   /*Nav bar containing links in header */
	   text-align: right;
	   padding-top: 50px;
	   padding-bottom: 12px;
	   padding-right: 2%;
	   width: 68%;
	   float: left;
	   color: white;
	}
	header nav div {
	   /* Links in header */
	   padding-right: 2%;
	}
	#content #mainContent h1, #content #mainContent h2 {
	   /* Styling for main headings */
	   color: rgba(146,146,146,1.00);
	}
	#content #mainContent h3 {
	   /*Captions ot Taglines */
	   font-family: source-sans-pro, sans-serif;
	   font-style: normal;
	   font-weight: 200;
	   color: rgba(146,146,146,1.00);
	}
	#content #mainContent #bannerImage {
	   /*Container for main banner image */
	   width: 100%;
	   background-color: rgba(208,207,207,1.00);
	}
	#content #mainContent p {
	   /* All paragraphs under maincontent */
	   color: rgba(146,146,146,1.00);
	   font-family: source-sans-pro, sans-serif;
	   font-style: normal;
	   font-weight: 200;
	   text-align: justify;
	}
	#content #mainContent #authorInfo {
	   /* Author info section */
	   background-color: rgba(208,207,207,1.00);
	}
	#content #mainContent #authorInfo h2, #content #mainContent #authorInfo p {
	   color: rgba(255,255,255,1.00);
	   padding-left: 2%;
	   padding-top: 11px;
	}
	#content #mainContent #authorInfo p {
	   color: rgba(255,255,255,1.00);
	   padding-left: 2%;
	   padding-top: 0px;
	   padding-bottom: 11px;
	   padding-right: 2%;
	}
	footer article {
	   /* Footer articles */
	   width: 46%;
	   float: left;
	   padding-left: 2%;
	   padding-right: 2%;
	   text-align: justify;
	   font-family: source-sans-pro, sans-serif;
	   font-style: normal;
	   font-weight: 200;
	   color: rgba(146,146,146,1.00);
	}
	footer article h3 {
	   /* Footer article titles */
	   text-align: center;
	   font-family: montserrat, sans-serif;
	   font-style: normal;
	   font-weight: 400;
	}
	#mainContent {
	   /* Container for the blog post in individal blog view */
	   width: 70%;
	   float: left; 
	   padding-left: 2%;
	   padding-right: 1%;
	   padding-top: 10px;
	   min-height: 100%; 
	   max-height:100%;
	   height:100%;
	   margin-left:8px;
	   margin-right:8px;
	   
	}
	#mainwrapper #content #sidebar {
	   /* Sidebar*/
	   width: 20%;
	   padding-left: 1%;
	   padding-right: 2%;
	   float: left;
	   background-color: rgba(246,246,246,1.00);
	   margin-top: 8px;
	   padding-top: 16px;
	}
	#mainwrapper {
	   /* Container of all content */
	   width: 99%;
	   overflow: auto;
	   margin-left: 8px;
	   height:100%;
	}
	#content #sidebar input {
	   /* Search box in sidebar */
	   width: 98%;
	   height: 32px;
	}
	#content #sidebar #adimage {
	   /* Container for Image in sidebar */
	   width: 100%;
	   background-color: rgba(208,207,207,1.00);
	   margin-top: 46px;
	   float: none;
	   overflow: auto;
	}
	nav ul li {
	   list-style-type: none;
	   padding-top: 8px;
	   padding-bottom: 8px;
	}
	nav ul {
	   padding-left: 0%;
	}
	nav ul li a {
	   color: rgba(146,146,146,1.00);
	   text-decoration: none;
	}
	#footerbar {
	   /* Footer bar at the bottom of the page */
	   height: 18px;
	   clear: both;
	   background-color: rgba(208,207,207,1.00);
	   width: 100%;
	}
	footer {
	   /* Container for footer artices */
	   width: 71%;
	   padding-left: 2%;
	   padding-right: 2%;
	}
	.notOnDesktop {
	   /*element to be displayed only in mobile view and tabet view */
	   display: none;
	}
	#mainContent #bannerImage img {
	   /* Actual banner image */
	   width: 100%;
	}
	#sidebar #adimage img {
	   /* Image in sidebar */
	   width: 100%;
	   float: left;
	}
	#mainwrapper header nav a {
	   /* Links in header */
	   color: rgba(146,146,146,1.00);
	   text-decoration: none;
	}


	.sidebar {
		top: 88px;
		bottom: 120px;
		right: 0;
		width: 360px;
		padding: 30px;
		overflow-y: auto;		
	}	
	#mapDiv {
		bottom: 2px;
		height: 70vh;
	}
	/* Tablet view */
	@media screen and (max-width:769px) {
	#mapDiv {
		bottom: 2px;
		height: 70vh;
	}		
	.notOnDesktop {
	   /* Search box shown only in mobile view and Tablet view */
	   display: block;
	   text-align: right;
	   padding-right: 8px;
	   margin-top: 8px;
	   padding-bottom: 8px;
	   width: 96%;
	}
	#content .notOnDesktop input {
	   height: 28px;
	}
	#mainContent {
	   /* Container for the blog post */
	   padding-top: 0px;
	   float: none;
	   width: 96%;
	   min-height: 100%; 
	}
	#sidebar input {
	   /* Search box in sidebar */
	   display: none;
	}
	#mainwrapper #content #sidebar {
	   /* Sidebar*/
	   float: none;
	   width: 92%;
	   padding-top: 12px;
	   overflow: auto;
	   margin-top: 4px;
	   margin-left: 2%;
	   padding-bottom: 13px;
	}
	#content #sidebar #adimage {
	   /* Image in sidebar */
	   width: 60%;
	   margin-top: 0px;
	   float: left;
	}
	#content #sidebar nav {
	   /* Navigation links in sidebar */
	   width: 36%;
	   float: left;
	   padding-left: 4%;
	}
	#sidebar nav ul {
	   margin-top: 0px;
	}
	footer {
	   /* Footer region */
	   width: 96%;
	   padding-left: 2%;
	   padding-right: 2%;
	}
	#content footer article {
	   /*Each footer article */
	   width: 46%;
	}
	#mainwrapper header {
	   /* Header */
	   width: 100%;
	}

	/* Mobile view */
	@media screen and (max-width:480px) {
	#mapDiv {
		height: 40vh;
	}
	#mainwrapper header #logo {
	   /* Company Logo text in header */
	   width: 96%;
	   margin-left: 2%;
	}
	#mainwrapper header nav {
	   /*navigation links in header - white background deleted */
	   text-align: center;
	   width: 98%;
	   color:black;
	   margin-top:-40px;
	}
	#content #sidebar #adimage {
	   /* Container for image in sidebar */
	   width: 100%;
	}
	#content #sidebar nav {
	   /* Navigation bar for links in sidebar */
	   width: 96%;
	   padding-top: 7px;
	}
	#sidebar nav ul li {
	   display: inline-block;
	   width: 32%;
	   text-align: center;
	}
	#mainwrapper #content #sidebar {
	   /* sidebar */
	   padding-bottom: 0px;
	}
	#content .notOnDesktop {
	   /* Search box shown only in mobile and tablet view */
	   width: 100%;
	   text-align: center;
	   padding-left: 0px;
	   padding-right: 0px;
	   margin-top:8px;
	}
	#content .notOnDesktop input {
	   width: 80%;
	   text-align: center;
	}
	#content #mainContent h3 {
	   /* Title under maincontent, if any */
	   font-size: 14px;
	}
} }


.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column-reverse;
	bottom: '50px';
}

.HolyGrail-nav {     
	marginTop: 20px;           
  order: -1;
  height: 85vh;
}                                                                                                                                                                                         

@media (min-width: 768px) {                                    
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;                    
  height: 95vh;                                     
  }
  .HolyGrail-content {
    flex: 1;                                
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 24em;
	margin-left: 5px;
	overflow-y: scroll;
  }
}

.un {
	background: rgb(178,225,255); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gym {
	background: rgb(174,249,234); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(174,249,234,1) 0%, rgba(104,255,174,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(174,249,234,1) 0%,rgba(104,255,174,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(174,249,234,1) 0%,rgba(104,255,174,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aef9ea', endColorstr='#68ffae',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}

.pokestop {
	background: rgb(255,178,179); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(255,178,179,1) 0%, rgba(252,103,130,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,178,179,1) 0%,rgba(252,103,130,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,178,179,1) 0%,rgba(252,103,130,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb2b3', endColorstr='#fc6782',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}

.disabled {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(25,10,10,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(25,10,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(25,10,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#190a0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.loading {
	border: 5 solid black;
border-color: -moz-linear-gradient(180deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
border-color: -webkit-linear-gradient(180deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
border-color: linear-gradient(180deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.loadingContent 
{
	left: 50%;
	top: 50%;
	display:block;
	position:relative;
}

#app
{
	
}